@model Data.Models.ChampionPrediction

@{
    ViewBag.Title = "Create";
}

<h2>@ViewData["Home"] vs @ViewData["Away"]</h2>
<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>New Prediction</legend>

        <div class="editor-label">
            Select User
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.UserName, (ViewData["UserList"] as SelectList))
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @ViewData["Home"] - Home
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomePrediction)
            @Html.ValidationMessageFor(model => model.HomePrediction)
        </div>

        <div class="editor-label">
            @ViewData["Away"] - Away
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AwayPrediction)
            @Html.ValidationMessageFor(model => model.AwayPrediction)
        </div>

        <p>
            <input type="submit" value="Add Prediction" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Predictions", new { Id = @ViewData["FixID"]}, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
